/* -The variables for the web-page */

:root{
    --main-color:#f0f8ff;
}


/* -Reset values and links */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(234, 246, 254);
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    font-family: 'PT Sans', sans-serif;
}

/* -General class selectors */

    /* --Sections' heading */

.section-heading{
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
    font-size:2.5rem;
    background-color: rgb(0, 0, 201);
    color: var(--main-color);
    border-radius: 50px;
    width: 70%;
    scroll-margin-top: 7.25rem;
}
    /* --Sections'second heading */
.section-sec-heading{
    background-color: rgb(0, 115, 255);
    color: var(--main-color);
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}

.hover:hover{
    background-image: radial-gradient(rgb(218, 218, 218), rgb(150, 148, 148));
    color: var(--main-color);

}


/* -The header and navigation section */

        /* --The header section */

.welcome{
    background-image:linear-gradient(to bottom, rgb(0, 115, 255), rgb(0, 0, 201)80%);
    background-size: contain;
    background-position: bottom;
}

.background-img{
    background-image:url(/img/Banner-header.png);
    background-repeat:repeat-x;
    background-size: contain;
    background-position: end;
}

header h1{
    padding: 3rem;
    text-align: center;
    font-size: 5rem;
    color: var(--main-color);
}

        /* --The navigation section */
.sticky{
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 201);
    border: 0px solid transparent;
}

.welcome-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 2.5rem;
}

.welcome-nav li{
    list-style-type: none;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

.oval-border{
    width: 100%;
    height: 9rem;
    border-bottom-left-radius:1100px 100px ;
    border-bottom-right-radius: 1100px 100px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 201),rgb(0, 115, 255) );
}

 /* -Search section */

.search{
    margin-top: 4rem; 
}


        /* --Search main part */
.search-all{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    margin-top: 4.5rem;
}

             /* ---Search filters */

.search-options{
    align-self: stretch;
    top: 0;
    margin-top: 56px;
    grid-column: 1/2;

}


.search-label{
    display: block;
    font-size: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 6rem 2rem;
}

.search-label select{
    width: 60%;
    height: 3rem;
    border-radius: 10px;
    background-color:rgb(243, 252, 255) ;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(111, 111, 111);
}

             /* ---Search results */

.search-main{
    padding: 0 2rem;
    grid-column: 2/3;
}


.search-part{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem;
}



.part-fig{
    border: 3px solid gray;
    padding: 2rem;
    width: min-content;
    height: min-content;
}

.part-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.part-figcap{
    text-align: center;
    font-size: 1.3rem;
}

 /* -Brands */

        /* --Brand logos */
.brands{
    margin-top:7rem;
}


.brands-main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.brand-fig{
    width: max-content;
    height: min-content;
    border: 3px double black;
    padding: 1.5rem;
}

.brand-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.brand-figcap{
    text-align: center;
    font-size:2rem;
}

        /* --Ad section */

#ad-heading{
    margin-top: 2rem;
    color: yellow;
}

#bilstein-ad{
    width: 80%;
    height: 400px;
    border: 0px solid transparent;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 15px black;
}

/* -Track Order Section */

.track-orders{
    margin-top:7rem;
}

    /* --Ordered Items List */

.orders-list{
    width: 60%;
    height: max-content;
    margin: 0 auto;
    margin-top: 3rem;
}

.order{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: rgb(217, 217, 217)
}

.order-fig{
    width: min-content;
    height: min-content;
    border-right: 1px solid black;
}


.order-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: -3px;
}

.order-description{
    width: 60%;
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
}

.order:nth-child(3){
    margin-bottom: 0;
}

/* -Contact Us */

.contact{
    margin-top: 7rem;
    padding-bottom: 4rem;
    background-image: linear-gradient(to bottom, rgb(234, 246, 254), rgb(210, 210, 210));
}

.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    width: 90%;
    margin: 2rem auto 0 auto;
}
        /* --Map with location */
#google-location{
    box-shadow: 0 0 10px black;
    width: 95%;
    height: 500px;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 1/2;
}

     /* --Form for sending messages */
#contact-form{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 2/3;
    grid-column: 2/3;
    
}

#location-info{
    grid-row: 1/2;
    grid-column: 1/2;
}

#contact-us{
    grid-row: 1/2;
    grid-column: 2/3;
}

.contact-label{
    width: 100%;
}

.contact-input{
    background-color:rgb(243, 252, 255) ;
    height:50px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-left: 2rem;
}

textarea.contact-input{
    height: 100px;
    padding-top: 1.5rem;
}

.button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 50px;
}

button{
  width: 20%;
  background-color:rgb(243, 252, 255) ;
  border: 1px solid gray;
  border-radius: 10px;
}

/* -Media Queries For Different Screen Width */

 @media  screen and (max-width:1180px) {
    .part-img{
        width: 175px;
        height: 175px;
    }
    
    .part-fig{
        padding: 1.5rem;
    }
} 


@media screen and (max-width:964px){
    .search-all{
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width:842px) {

    .order-description{
        font-size: 1.5rem;
    }

    .search-label{
        font-size: 1.2rem;
    }

    .search-label select{
        font-size: 1.2rem;
    }

    button{
        width:40%;
    }

    .oval-border{
        height: 60px;
    }

    .section-heading{
        width: 85%;
    }
}

@media screen and (max-width:717px) {
    .part-img{
        width: 150px;
        height: 150px;
    }

    .part-fig{
        padding: 1rem;
    }

    .contact-info{
        grid-template-columns: 1fr;
    }

    #location-info{
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #google-loaction{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    #contact-us{
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #contact-form{
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .contact-label{
        margin-bottom: 2rem;
    }

    .order-fig{
        border-right: none;
        margin-left:1rem;
    }

} 

@media  screen and (max-width:612px) {
    .search-all{
        grid-template-columns: 1fr;
    }

    .search-options{
        grid-row: 1/2;
        grid-column: 1/2;
        margin: 0 2rem;
    }

    .search-main{
        grid-row: 2/3;
        grid-column: 1/2;
        padding: 0;
    }

    .search-label{
        font-size: 2rem;
    }

    .search-label select{
        font-size: 2rem;
    }

    .section-heading{
        width: 100%;
    }

    #recently-added{
        margin: 0 auto 1rem auto;
        padding: 1.5rem;
        text-align: center;
        font-size:2.5rem;
        background-color: rgb(0, 0, 201);
        color: var(--main-color);
        border-radius: 50px;
        width: 100%;
    }

    .order{
        flex-direction: column;
        gap: 1rem;
    }

    .order-description{
        line-height: 30px;
    }
 
}

@media screen and (max-width:471px) {
    .background-img{
        background-image: none;
    }
    
    header h1{
        padding: 1.5rem;
        font-size: 2.5rem;
    }

    .welcome-nav li{
        padding: 1rem;
        font-size: 1.5rem
    }
    
    .oval-border{
        height: 30px;
    }

    .section-heading{
        font-size: 2rem;
    }

    .section-sec-heading{
        font-size:1.5rem;
    }

    #recently-added{
        font-size:2rem;
    }
}

@media  screen and (max-width:410px) {
    .search-label select{
        font-size: 1.3rem;
    }
    
    .search-label{
        font-size: 1.5rem;
    }

    .brand-fig{
        border: 2px solid black;
        padding: 1rem;
    }
    
    .brand-img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
    }

    .brand-figcap{
        font-size: 1.2rem;
    }

    #ad-heading{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #bilstein-ad{
        height: 250px;
    }

    .order-img{
        width: 150px;
        height: 150px;
    }

    .order-description{
        font-size: 1.1rem;
        width: 90%;
    }

    #google-location{
        height: 300px;
    }

}
